{% load static %}
<link href="{% static 'weather_api/current_weather.scss' %}" rel="stylesheet" type="text/css">
{{temperature}}
<div class="main container">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 weather-panel">
        <div class="col-xs-6">
          <h2>Lucerne<br><small>May 24, 2016</small></h2>
          <p class="h3"><i class="mi mi-fw mi-lg mi-rain-heavy"></i> Rainy</p>
        </div>
        <div class="col-xs-6 text-center">
          <div class="h1 temperature">
            <span>12°</span>
            <br>
            <small>8° / 13°</small>
          </div>
        </div>
        <div class="col-xs-12">
          <ul class="list-inline row forecast">
            <li class="col-xs-4 col-sm-2 text-center">
              <h3 class="h5">Wed</h3>
              <p><i class="mi mi-fw mi-2x mi-cloud-sun"></i><br>{{day1.min}}°/{{day1.max}}°</p>
            </li>
            <li class="col-xs-4 col-sm-2 text-center">
              <h3 class="h5">Thu</h3>
              <p><i class="mi mi-fw mi-2x mi-sun"></i><br>{{day2.min}}°/{{day2.max}}°</p>
            </li>
            <li class="col-xs-4 col-sm-2 text-center">
              <h3 class="h5">Fri</h3>
              <p><i class="mi mi-fw mi-2x mi-cloud-sun"></i><br>{{day3.min}}°/{{day3.max}}°</p>
            </li>
            <li class="col-xs-4 col-sm-2 text-center">
              <h3 class="h5">Sat</h3>
              <p><i class="mi mi-fw mi-2x mi-rain"></i><br>{{day4.min}}°/{{day4.max}}°</p>
            </li>
            <li class="col-xs-4 col-sm-2 text-center">
              <h3 class="h5">Sun</h3>
              <p><i class="mi mi-fw mi-2x mi-rain-heavy"></i><br>{{day5.min}}°/{{day5.max}}°°</p>
            </li>
            <li class="col-xs-4 col-sm-2 text-center">
              <h3 class="h5">Mon</h3>
              <p><i class="mi mi-fw mi-2x mi-clouds"></i><br>{{day6.min}}°/{{day6.max}}°</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>