{% load static %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="{% static 'weather_api/weather.css' %}" rel="stylesheet" type="text/css">

<div class="wrapper">
  <div class="weather">
    <div class="city"><h1>{{location}}</h1></div>
          <div class="clearfix"></div>

    <div class="cont">
      <div class="icon">
        <i class="fa fa-sun-o spin glow"></i>
        <i class="fa fa-cloud wind"></i>
        <i class="fa fa-cloud two"></i>
      </div>
      <div class="temp">
        <div class="current">
          18&deg;
        </div>
        <div class="high">
          High: {{temperature.0.min}}&deg;
        </div>
        <div class="low">
          Low: {{temperature.0.max}}&deg;
        </div>
      </div>
      <div class="clearfix"></div>
<!--      <div class="left"><i class="fa fa-angle-left"></i></div>-->
<!--      <div class="date"><p>06/21/2013</p></div>-->
<!--      <div class="right"><i class="fa fa-angle-right"></i></div>-->
    </div>
  </div> <!-- weather -->
</div> <!-- wrapper -->