.main {
  margin-top: 50px;
}
.weather-panel {
  background-image: url("https://unsplash.it/600/400?image=1043&blur");
  background-size: cover;
  border-radius: 20px;
  box-shadow: 25px 25px 40px 0px rgba(0,0,0,0.33);
  color: #fff;
  overflow: hidden;
  position: relative;

  small {
    color: inherit;
    font-size: 50%;
  }
  ul.forecast > li {
    border-top: 1px solid #fff;
  }
  .temperature {
    & > span {
        font-size: 2em;
    }
  }
}

#li-weather {
  display: table-cell;
  padding: 2px;
}

#ul-weather {
  display: table;
  width: 100%;
}

.header-class-weather {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 15px;

}

.header-weather {
  display: table-cell;
  width: 40%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text-align-center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 0px;
}

.border-top {

  border-style: solid none none none;
  width: 80%;
  margin-left: 10%;
}

.text-center {
  text-align: center;
}

